body{
    background-image: url(images/pic.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{
    text-decoration: none;
}
.nav{
    background-color: chocolate;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 2px;
}
.nav ul{
    list-style-type: none;
}
.nav ul li{
    display: inline;
    padding: 3px;
}
.nav ul li a{
    color: cyan;
}
.para{
    position: relative;
    top: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color:cyan}